/* Universal selector */
*{
    padding: 0;
    margin: 0;
    color: black;
}

/* header */
header{
    background-color: black;
    /* position: fixed; */
}

/* nav bar 1 starts here */
nav{
    display: flex;
    
} 

/* nav ul{
    height: 58px;
    display: flex;
    
    justify-content: flex-start;
    align-items: center;

}

nav ul li{
    list-style: none;
} */


/* Amazon logo */
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    padding-top: 3px;
    padding-right: 61px;
    
} 


/* Adress button (location)*/
.btn1{

    display: flex;
    align-items: center; 
    text-align: center;
    position: relative;
    left: -64px;
    top: 5px;
    width: 110px;
    height: 44px;
    margin: 10px 26px 17px 1px;
    border-radius: 2px;
    color:white;
    font-size: medium;
    background-color: black;
    border: black;
    padding: 20px;
    cursor: pointer;
    
}
.btn1:hover{
    border: 1px solid white;
   
}

/* Search bar input */
.search{
    position: relative;
    left: -145px;
    display: flex;
    align-items: center;
    font-family: "Amazon Ember",Arial,sans-serif;
}
.search input[type=text]{
    padding: 7px;
    width: 517px;
}
.search input{

    width: 280px;
    height: 25px;
    border-radius: 3px;
    margin: 0px 20px 0px 60px;
    padding: 0px 12px;
    color: black;
}

/* Search button with icon */
 .fsearch {
    position: relative;
    left: -18px;
    padding: 8px;
    background: rgba(255, 166, 0, 0.973);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 3px;
    font-family: "Amazon Ember",Arial,sans-serif;
  }
  .fsearch:hover {
    background-color: orange;
  }
  
  /* India flag & languages dropdow */
  .flag{
    position: relative;
    left: -620px;
    top:26px;
  }
  .drop{
      position: relative;
      left: -618px;
      top:26px;
      
     
  }


/* Sign in Accounts button */
.btn2{

    display: flex;
    align-items: center; 
    text-align: center;
    position: relative;
    right: 332px;
    top: 5px;
    width: 110px;
    height: 44px;
    margin: 10px 26px 17px 400px;
    border-radius: 2px;
    color:white;
    font-size: medium;
    background-color:black;
    border: black;
    padding: 20px;
    cursor: pointer;
    
}
.btn2:hover{
    border: 1px solid white;
   
}
  
   /* Returns & Orders button */
  .order{
    display: flex;
    align-items: center; 
    text-align: center;
    position: relative; 
    right: 780px;
    top: 5px;
    width: 100px;
    height: 26px;
    margin: 10px 26px 17px 400px;
    border-radius: 2px;
    background-color:black;
    color:white;
    font-size:medium;
    border: black;
    padding: 20px;
    cursor: pointer;
    font-family: "Amazon Ember",Arial,sans-serif;
  }
 
  .order:hover{
    border: 1px solid white;
   
}

/* Cart button */
.cart{
    display: flex;
    align-items: center; 
    text-align: center;
    position: relative;
    right: -1070px;
    top: 5px;
    width: 108px;
    height: 26px;
    margin: 10px 26px 17px -1800px;
    border-radius: 2px;
    background-color:black;
    color:white;
    font-size:medium;
    border: black;
    padding: 20px;
    cursor: pointer;
    font-family: "Amazon Ember",Arial,sans-serif;
    
  }
  .cart:hover{
    border: 1px solid white;
   
}
#cart{
    position: relative;
    right: 1px;
    width: 40px;
}


/* unknown buttons */

  .btn{
    width: 60px;
    height: 26px;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    
} 

.btn3{
    display: flex;
    align-items: center;
    width: 65px;
    height: 26px;
    margin: 17px 100px 17px auto;
    border-radius: 6px;
    color: blue;
    background-color: white;
    padding: 12px;
    cursor:pointer;
} 

/* nav bar 1 ends */


/* nav bar 2 starts */

.nav2{
    width: 1519px;
    height: 50px;
    background-color:#232f3e;
}

/* Left slider menu button ☰ALL */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font: medium;
    color: #232f3e;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    background-color: gainsboro;
    text-decoration: none;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  h4{
      color:black;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      
      display: block;
      transition: 0.3s;
  }


  /* All buttons in second nav */
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .openbtn {
    position: relative;
    left: -8px;
    top: -15px;
    font:medium;
    cursor: pointer;
    background-color: #232f3e;
    color: white;
    padding: 8px 15px;
    border: none;
  }
  
  .openbtn:hover {
    /* background-color: #444; */
    border: 1px solid white;
  }
  

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* nav bar2 end */



 .container{
 min-height: calc(100vh - 10vh - 90px);
} 

/* Footer-1 */
ul li a{
    text-decoration: none;
    padding: 20px 20px;
    color: white; 
    
}
li a:hover{
    color: grey;
    
}
.active {
    background-color: darkblue;
   
}

/* Footer-2 */
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}  
  
footer{
    background-color: black;
    height: 10vh;
    
}
footer a{
   color: white;
}
